# Binary
/ipstream
/ipstream.exe

# Build output
dist/
.coverage/
.profiles/

# Go test cache
*.test
*.out

# OS
.DS_Store
Thumbs.db

# Codecov
codecov
codecov.SHA256SUM
codecov.SHA256SUM.sig
coverage.txt
